<?xml version="1.0" encoding="utf-8" ?>


<configuration>
 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>  
    <add key="BaseUrl" value="http://10.50.30.14/ercms/api/"/>
    <add key="CreateOCR" value="Attachment/CreateOCREntry"/>
    <add key="SERVICENAME" value="SFTPBulkUpdateService"/>
    <add key="SERVICEDESC" value="This is service to transfer bulk files from sftp server to attachment folder" />    
    <add key="INTERVAL" value="25000" />
    <add key="Host" value="securefile.etihadrail.ae"/>
    <add key="Username" value="dcc.cms"/>
    <add key="Password" value="LGC6q2"/>
	<add key="ApiKey" value="MySecretAPI123Key"/>
    <add key="LocalFilePath" value="D://Attachments"/>
  </appSettings>
</configuration>
